<!-- template element holding a button that needs to be injected when JavaScript is finally available. -->
<!-- based on an article by Manuel Matuzovic, https://web.dev/website-navigation/ -->
<!-- see also: https://kittygiraudel.com/2022/09/30/templating-in-html/ -->

<template id="burger-template">
  <button type="button" aria-expanded="false" aria-label="Menu" aria-controls="mainnav">
    {# <span>{{ meta.navigation.navLabel }}</span> #}
  <svg 
    xmlns="http://www.w3.org/2000/svg"
    width="1em" 
    height="1em" 
    fill="currentColor"
    stroke="currentColor"
    viewBox="0 0 40 30" 
  >
    <rect y="1" width="40" height="4"></rect>
    <rect y="14" width="40" height="4"></rect>
    <rect y="27" width="40" height="4"></rect>
</svg>
  </button>
</template>
